In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
opinion.columns

Index(['GeoType', 'GEOID', 'GeoName', 'TotalPop', 'discuss', 'discussOppose',
       'reducetax', 'reducetaxOppose', 'CO2limits', 'CO2limitsOppose',
       'localofficials', 'localofficialsOppose', 'governor', 'governorOppose',
       'congress', 'congressOppose', 'president', 'presidentOppose',
       'corporations', 'corporationsOppose', 'citizens', 'citizensOppose',
       'regulate', 'regulateOppose', 'supportRPS', 'supportRPSOppose',
       'drilloffshore', 'drilloffshoreOppose', 'drillANWR', 'drillANWROppose',
       'fundrenewables', 'fundrenewablesOppose', 'rebates', 'rebatesOppose',
       'mediaweekly', 'mediaweeklyOppose', 'gwvoteimp', 'gwvoteimpOppose',
       'teachGW', 'teachGWOppose', 'priority', 'priorityOppose', 'happening',
       'happeningOppose', 'human', 'humanOppose', 'consensus',
       'consensusOppose', 'worried', 'worriedOppose', 'personal',
       'personalOppose', 'harmUS', 'harmUSOppose', 'devharm', 'devharmOppose',
       'futuregen', 'futuregenOppose', 'harmplants', 'harmplantsOppose',
       'timing', 'timingOppose', 'affectweather', 'affectweatherOppose'],
      dtype='object')

In [43]:
opinion = pd.read_csv("YCOM_2020_Data.csv")
# Source US Bureau of Economic Analysis
income = pd.read_csv("income_data_cleaned.csv")
CoalProductionbyCountyandState = pd.read_csv("CoalProductionbyCountyandState.csv")
CoalProductionbyCountyandState.rename({'Coal-Producing State and County' : 'GeoName'}, axis=1)

,GeoName,Underground Number of Mines,Underground Production,Surface Number of Mines,Surface Production,Total Number of Mines,Total Production
0,Alabama,6,"10,451",20,"1,701",26,"12,151"
1,De Kalb,-,-,1,18,1,18
2,Jefferson,3,"7,476",7,824,10,"8,300"
3,Shelby,-,-,1,3,1,3
4,Tuscaloosa,1,"2,156",4,200,5,"2,357"
...,...,...,...,...,...,...,...
155,Lincoln,-,-,1,"2,475",1,"2,475"
156,Sweetwater,1,"2,424",2,"3,671",3,"6,095"
157,U.S. Subtotal,196,"195,530",350,"339,448",546,"534,978"
158,Refuse Recovery,-,-,-,-,6,456
159,U.S. Total,196,"195,530",350,"339,448",552,"535,434"

In [44]:
pd.merge(opinion, CoalProductionbyCountyandState, on="GeoName")

KeyError: 'GeoName'